---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/DataDog/dd-trace-rb/commits/c67e5a167a005fc7ba4c65ce5201a4d56e66f7a6/check-runs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_TOKEN>
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - gist, read:org, repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 178c6fc778ccc68e1d6a
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4696'
      X-Ratelimit-Reset:
      - '1773338334'
      X-Ratelimit-Used:
      - '304'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"No commit found for SHA: c67e5a167a005fc7ba4c65ce5201a4d56e66f7a6","documentation_url":"https://docs.github.com/rest/checks/runs#list-check-runs-for-a-git-reference","status":"422"}'
  recorded_at: Thu, 12 Mar 2026 17:07:00 GMT
recorded_with: VCR 6.4.0
